.video-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    justify-content: center; /* Alinha itens centralizados */
}

.video-card {
    flex: 1 1 calc(100% - 32px); /* Tamanho padrão para telas menores */
    max-width: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .video-card {
        flex: 1 1 calc(50% - 32px); /* Divide em 2 colunas no tablet */
    }
}

@media (min-width: 1024px) {
    .video-card {
        flex: 1 1 calc(33.33% - 32px); /* Divide em 3 colunas no desktop */
    }
}
